/* ----------------------------------------
  Our primary colors for this project
---------------------------------------- */

$primary-colors: (
  'base': #000000,
  'primary': #429DA8,
  'secondary': #FF4500,
  'warning': rgb(255, 255, 0),
  'white': #ffffff,
  'black': #111111,
  'light' : #F1F1F1
);

/* ----------------------------------------
  Combinations for loop for theming
  Beware, name must also be declared in $themes

  Usage: color: colorcombi(warning, background)

  If you need to include both colors in a field, use
  the mixin @themecombi('warning');
---------------------------------------- */

$color-combinations: (
  'base': (
    'background': map-get($primary-colors, 'primary'),
    'color': map-get($primary-colors, 'white')
  ),
  'primary': (
    'background': map-get($primary-colors, 'primary'),
    'color': map-get($primary-colors, 'white'),
  ),
  'secondary': (
    'background': map-get($primary-colors, 'secondary'),
    'color': map-get($primary-colors, 'white'),
  ),
  'warning': (
    'background': map-get($primary-colors, 'warning'),
    'color': map-get($primary-colors, 'white'),
  ),
  'light': (
    'background': map-get($primary-colors, 'light'),
    'color': map-get($primary-colors, 'black'),
  ),
  'black': (
    'background': map-get($primary-colors, 'black'),
    'color': map-get($primary-colors, 'white'),
  ),
  'white': (
    'background': map-get($primary-colors, 'white'),
    'color': map-get($primary-colors, 'black'),
  )
);
