.navigation {
  @include innerspace(1rem);
  @include position(fixed);
  @include size(100%, 3rem);
  z-index: 100;

  &__bar {
    @include flex-center('vertical');
    @include size(100%, 3rem);
    @include card-shadow(1);
    background: color('white');
    border-radius: 2px;
  }

  &__trigger {
    @include size(18px, 12px);
    position: relative;

    &-wrapper {
      position: relative;
      left: 20px;
      width: 20px;
      @include innerspace(10px);
      @include outerspace(-10px);
    }

    span {
      display: block;
      background: color('primary');
      @include size(17px, 2px);
      @include position(absolute, 0, 5px);
      @include transition();
      transform-origin: 0% 50%;

      &:first-child {
        top: 0;
      }
      &:nth-child(2) {
        @include position(absolute, auto, 5px, auto, 1px);
      }
      &:last-child {
        top: 10px;
      }
    }

    &.is-open {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(0, -2.5px);
          // top: -1px;
        }
        &:nth-child(2) {
          width: 0;
          opacity: 0;
          @include position(absolute, auto, 5px, auto, 1px);
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(2px, 0.5px);
          top: 11px;
        }
      }
    }
  }
  nav{
    float: right;
    position: relative;
    left: 200px;
  }
}
