.hero {
  &--detail {
    min-height: 50vh;
    @include flex-center('both');
    text-align: center;

    &__weathericon {
      padding-top: 32px;
      color: color('white');
      font-size: 96px;
      opacity: 0.4;
    }

    &__weather-description {
      margin-top: 24px;
      font-family: $handwriting-font-face;
      @include font-size(24px);
    }
  }
}


.btn-delete {
  @extend .button-reset;
  background: color('primary');
  color: color('white');
  border-radius: 2px;
}

.cmon {
  b {
    font-weight: 700;
  }

  i {
    font-style: italic;
    color: #ff9900;
  }
}

.editableForm {

  .createdAt {
    font-family: $handwriting-font-face;
  }

  &__meta {
    margin-bottom: 2rem;
  }

  input[type="text"], textarea {
    border: 0;
    @include innerspace(0);

    &.title {
      @extend h2;
    }

    &.body {
      @include font-size(16px);
      color: color('black');
      font-family: $primary-font-face;
    }

    &.color {
      @include font-size(16px);
      color: color('black');
      font-family: $primary-font-face;
    }

  }

  &.isEditing {
    input[type="text"] {
      &.title {
        @include outerspace(0);
        @extend h2;
      }

      &.body {
        @include font-size(16px);
        color: color('black');
        font-family: $primary-font-face;
      }

      &.color {
        @include font-size(16px);
        color: color('black');
        font-family: $primary-font-face;
      }
    }
  }
}

.detail {
  &__title {
    @extend h2;
    @include transition(color, 0.2s);
    line-height: 64px;
    margin-bottom: 40px;
    // word-break: break-all;
    text-align: justify;


    &:focus {
      outline: 0px;
      opacity: 1;
      background: #F3F3F3;
      padding: 1rem;
      margin: -2rem -1rem 2rem !important;
    }
  }

  &__body {
    @include font-size(16px);
    line-height: 26px;
    color: color('black');
    font-family: $primary-font-face;
    // word-break: break-all;
    text-align: justify;
    @include transition();

    &:focus {
      outline: 0px;
      opacity: 0.8;
    }
  }

  &__meta {
    display: block;
    font-family: $handwriting-font-face;
    font-size: 14px;
    text-transform: uppercase;
    @include outerspace(auto auto 32px auto);
  }
}

.gratitudeWrapper {
  @include position();

  .editableGratitude, .staticGratitude {
    display: none;

    &.isActive {
      display: block;
    }
  }
}



