.loginPage {
  height: 100vh;
  background: color('secondary');

  &__inner {
    @include innerspace(4rem);
  }

  h2 {
    color: color('white');
  }

  button {
    background: color('white');
    border-radius: 2px;
    color: color('secondary');
  }
}
