.dropdown {
  font-weight: 400;

  &__trigger {
    border: 1px solid color('secondary');
    border-radius: 3px;
    @include innerspace(1rem);

    &.is-open {
      border-bottom: 1px solid color('secondary');
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__list {
    display: none;
    border: 1px solid color('secondary');
    border-top: 0px;

    &.is-open {
      display: block;
    }
  }

  &__item {
    @include innerspace(1rem);

    &.hidden {
      display: none;
    }
    &:not(:last-child) {
      border-bottom: 1px solid color('light');
    }
  }
}

