.dropdown {
  font-weight: 400;
  position: relative;

  &__trigger {
    border: 1px solid color('light');
    border-radius: 3px;
    @include innerspace(1rem);

    &.is-open {
      border-bottom: 1px solid color('secondary');
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__list {
    opacity: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    border: 1px solid color('light');
    border-radius: 3px;
    background: #fff;
    transform: translate(1%, -80px);
    width:98%;
    @include card-shadow(1);
    @include transition(transform, 0.1s);

    &.is-open {
      opacity: 1;
      pointer-events: auto;
      transform: translate(1%, -100px);
      height: auto;
    }
  }

  &__item {
    @include innerspace(0.8rem, 1rem);
    @include font-size(24px);
    font-family: $handwriting-font-face;

    &.hidden {
      display: none;
    }
    &:not(:last-child) {
      border-bottom: 1px solid lighten(color('light'), 50%);
    }
  }
}

