.listWrapper {
  background: #F4F4F4;
  @include innerspace(1rem);
}

.gratitude-group {
  margin-bottom: 2rem;

  &__date {
    font-family: $handwriting-font-face;
    background: color('white');
    font-size: 24px;
    padding: 1rem;
  }
}
