/* ----------------------------------------
  Accordion Base
---------------------------------------- */

.accordion {
  dd {
    margin-left: 0;
  }

  .trigger {

  }

  .panel {
    display: none;

    &.active {
      display: block;
    }
  }
}
