/* ----------------------------------------
  Material Design Preloader without
  progress
---------------------------------------- */


.spinner {
  animation: rotator 1.4s linear infinite;
  width: 40px;
  height: 40px;

  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    stroke-width: 4;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  }

  &.hidden {
    display: none;
  }

}


/* ----------------------------------------
  Keyframe animations for Material
  spinner
---------------------------------------- */

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: color('primary');
  }

  14.285714286% {
    stroke: color('primary');
  }

  28.571428572% {
    stroke: color('primary');
  }

  42.857142858% {
    stroke: color('primary');
  }

  57.142857144% {
    stroke: color('primary');
  }

  71.42857143% {
    stroke: color('primary');
  }

  100% {
    stroke: color('primary');
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}


/* ----------------------------------------
  Bouncing ball loader
---------------------------------------- */

.loader--bounce {
  transform: translateY(35px);
}

.ball {
  position: relative;
  display: inline-block;
  @include size(0.8rem);
  border-radius: 50%;
  background-color: color('light');

  &:not(:last-child) {
    margin-right: 0rem;
  }

  &:nth-child(1) {
    animation: jump .5s ease 0s infinite alternate;
  }

  &:nth-child(2) {
    animation: jump .5s ease 0.15s infinite alternate;
  }

  &:nth-child(3) {
    animation: jump .5s ease 0.25s infinite alternate;
  }
}


@keyframes jump {
  0% {
    transform: scaleY(.9);
  }

  90% {
    transform: translateY(-70px);
  }

  100% {
    transform: translateY(-70px);
  }
}
