.button-reset, .btn--reset {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}
