$default-easing: cubic-bezier(0.000, 0.325, 0.375, 0.915);
$linear-easing: cubic-bezier(0.280, 0.475, 0.445, 0.675);
$default-delay: 0s;

@mixin transition($attr:all, $time:0.2s, $easing:$default-easing, $delay: $default-delay) {
  transition: $attr $time $easing $delay;
}
