.add-gratitude {
  position: fixed;
  left: 0;
  top: 100vh;
  z-index: 199;
  background: color('white');
  border-radius: 5px 5px 0px 0px;
  @include transition(all, 0.3s);
  @include size(100vw, 96vh);
  @include card-shadow(5);
  overflow: scroll;

  &.is-open {
    display: block;
    top: 4vh;
  }

  &__inner {
    @include innerspace(3rem 2rem);
  }

  &__title {
    font-family: 'Martel';
    font-size: 48px;
  }

  &__body {
    font-family: $primary-font-face;
    line-height: 26px;
    @include font-size(16px);
  }

  &__button {
    @include position(fixed, 50%, auto, auto, 32px );
    margin-left: -32px;
    z-index: 200;
    background: color('white');
    color: color('action');

    @include size(64px);
    @include card-shadow(3);
    @include flex-center('both');
    @include font-size(32px);
    @include transition();
    font-weight: 600;
    cursor: pointer;
    line-height: 0;
    border-radius: 50%;

    &:hover {
      @include card-shadow(2);
      background: lighten(color('action'), 5%);
      color: color('white');
    }
  }
}
