.card {
  padding: 1rem;
  position: relative;
  border-radius: 2px;
  background: color('white');

  &__title {
    font-family: 'Martel';
    font-weight: 100;
    @include font-size(36px);
    line-height: 3.6rem;
  }

  &__createdAt{
    @include font-size(10px);
    font-weight: 100;
  }

  &__moodstrip {
    @include size(4px, 100%);
    @include position(absolute);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }

  &__body {
    height: 80px;
    @include truncate-multiline();
  }
}
small.id {
  font-size: 10px;
  opacity: 0.5;
  padding-bottom: 0.5rem;
  display: block;
}
